body{
    background-color: cornflowerblue;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: .2px;
}

.sideNav{
    height: 100%;
    max-width: 240px;
    min-width: 240px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
    padding: 8px;
}

/* .sideNav a{
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    display: inline;
} */

/* .subBoxNav{
    display: inline;
} */

.main{
    margin-left: 240px;
}

.row{
    border: 1px solid;
    margin: 5px;
    padding: 10px;
}

.when, .who, .topic{
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
}

.entireMessage{
    background-color: white;
    border: 1px solid black;
    display: none;
    margin: 10px;
}